{% extends 'base.html' %}
{% load static %}

{% block title %}Chat App{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="back-container">
    <div class="container-fluid front-container">
        <div class="back-top" style="text-align: center">
            <a href="{% url 'accounts:logout' %}" style="color: rgb(255, 255, 255)">Logout</a>
        </div>
        <div class="back-main"></div>
    </div>
    <div class="container front-container1">
        <div class="row">
            <div class="col-sm-4 contacts">
                <div class="contact-table-scroll">
                    <table class="table table-hover">
                        <tbody>
                            <a href="{% url 'add_group' %}"><button id="add-group-btn" class="attractive-button" onclick="">Add Group</button></a>
                            {% for user in users %}
                            <tr>
                                <td><img src="{% static 'assets/dp.png' %}" alt="" class="profile-image rounded-circle">
                                </td>
                                <td><a id="registered-users-list" href="{% url 'chat' receiver_id=user.id %}">{{user.username}}</a></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><a style="color: green" id="global_chat_id" href="{% url 'global' %}">Global Chats</a></td>
                            </tr>
                            <!-- end -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}